workflow_backups/backup_20251110_132454/individual_sensor_tf_luna_monitoring.json
{
  "name": "TF-Luna LIDAR Sensor Monitoring",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "continuous_monitoring",
              "value": "{{$parameter.continuous_monitoring}}"
            }
          ],
          "number": [
            {
              "name": "safety_threshold",
              "value": "{{$parameter.safety_threshold || 1.5}}"
            },
            {
              "name": "warning_threshold",
              "value": "{{$parameter.warning_threshold || 2.5}}"
            }
          ]
        }
      },
      "name": "Configure TF-Luna Monitoring",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [240, 300],
      "id": "tf_luna_config"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/robot/status",
        "options": {}
      },
      "name": "Get TF-Luna Sensor Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "tf_luna_status"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "tf_luna_distance",
              "value": "={{ $json.tf_luna_distance }}"
            },
            {
              "name": "tf_luna_strength",
              "value": "={{ $json.tf_luna_strength }}"
            }
          ]
        }
      },
      "name": "Extract TF-Luna Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300],
      "id": "tf_luna_extract"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.tf_luna_distance }}",
              "value2": "={{ $json.safety_threshold }}",
              "operation": "smallerEqual"
            }
          ]
        }
      },
      "name": "Check Critical Distance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "tf_luna_critical_check"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/robot/emergency-stop",
        "bodyContentType": "raw",
        "sendBody": true,
        "body": "{}",
        "options": {}
      },
      "name": "Trigger Emergency Stop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 160],
      "id": "tf_luna_emergency"
    },
    {
      "parameters": {
        "message": "CRITICAL: TF-Luna obstacle at {{ $json.tf_luna_distance }}m - EMERGENCY STOP ACTIVATED",
        "level": "error"
      },
      "name": "Log Critical Alert",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 160],
      "id": "tf_luna_critical_log"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.tf_luna_distance }}",
              "value2": "={{ $json.warning_threshold }}",
              "operation": "smallerEqual"
            },
            {
              "value1": "={{ $json.tf_luna_distance }}",
              "value2": "={{ $json.safety_threshold }}",
              "operation": "larger"
            }
          ]
        }
      },
      "name": "Check Warning Distance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300],
      "id": "tf_luna_warning_check"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/robot/obstacle-avoidance",
        "bodyContentType": "json",
        "sendBody": true,
        "bodyParametersJson": "{\n  \"obstacle_distance\": {{ $json.tf_luna_distance }},\n  \"obstacle_direction\": \"front\",\n  \"sensor_type\": \"tf_luna\"\n}",
        "options": {}
      },
      "name": "Trigger Obstacle Avoidance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "id": "tf_luna_avoidance"
    },
    {
      "parameters": {
        "message": "WARNING: TF-Luna obstacle at {{ $json.tf_luna_distance }}m - Obstacle avoidance activated",
        "level": "warning"
      },
      "name": "Log Warning Alert",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 300],
      "id": "tf_luna_warning_log"
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "obstacle_detected",
              "value": false
            }
          ],
          "number": [
            {
              "name": "current_distance",
              "value": "={{ $json.tf_luna_distance }}"
            }
          ],
          "string": [
            {
              "name": "sensor_status",
              "value": "safe"
            }
          ]
        }
      },
      "name": "Safe Distance - Continue",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 440],
      "id": "tf_luna_safe"
    },
    {
      "parameters": {
        "message": "TF-Luna monitoring: Distance {{ $json.tf_luna_distance }}m, Strength {{ $json.tf_luna_strength }} - Safe",
        "level": "info"
      },
      "name": "Log Safe Status",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 440],
      "id": "tf_luna_safe_log"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.continuous_monitoring }}",
              "value2": true,
              "operation": "equal"
            }
          ]
        }
      },
      "name": "Continue Monitoring?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 300],
      "id": "tf_luna_continue"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "name": "Wait Before Next Check",
      "type": "@n8n/n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2000, 160],
      "id": "tf_luna_wait"
    },
    {
      "parameters": {
        "message": "TF-Luna monitoring cycle completed. Distance: {{ $json.tf_luna_distance }}m",
        "level": "info"
      },
      "name": "Log Monitoring Cycle",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2220, 160],
      "id": "tf_luna_cycle_log"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "monitoring_status",
              "value": "completed"
            }
          ]
        }
      },
      "name": "Monitoring Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2000, 440],
      "id": "tf_luna_complete"
    },
    {
      "parameters": {
        "path": "tf-luna-monitor",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [20, 180],
      "id": "tf_luna_webhook"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 420],
      "id": "tf_luna_manual"
    }
  ],
  "connections": {
    "Configure TF-Luna Monitoring": {
      "main": [
        [
          {
            "node": "Get TF-Luna Sensor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TF-Luna Sensor Status": {
      "main": [
        [
          {
            "node": "Extract TF-Luna Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract TF-Luna Data": {
      "main": [
        [
          {
            "node": "Check Critical Distance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Critical Distance": {
      "main": [
        [
          {
            "node": "Trigger Emergency Stop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Warning Distance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Emergency Stop": {
      "main": [
        [
          {
            "node": "Continue Monitoring?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Critical Alert": {
      "main": [
        [
          {
            "node": "Continue Monitoring?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Warning Distance": {
      "main": [
        [
          {
            "node": "Trigger Obstacle Avoidance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Warning Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Safe Distance - Continue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Safe Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Obstacle Avoidance": {
      "main": [
        [
          {
            "node": "Continue Monitoring?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Warning Alert": {
      "main": [
        [
          {
            "node": "Continue Monitoring?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safe Distance - Continue": {
      "main": [
        [
          {
            "node": "Continue Monitoring?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Safe Status": {
      "main": [
        [
          {
            "node": "Continue Monitoring?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Monitoring?": {
      "main": [
        [
          {
            "node": "Wait Before Next Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Monitoring Cycle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Monitoring Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Next Check": {
      "main": [
        [
          {
            "node": "Get TF-Luna Sensor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Monitoring Cycle": {
      "main": [
        [
          {
            "node": "Get TF-Luna Sensor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Configure TF-Luna Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configure TF-Luna Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "87654321-4321-4321-4321-210987654321"
}
