workflow_backups/backup_20251110_132454/robot_patrol_api.json
{
  "name": "Autonomous Patrol (API-Based)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-initial-status",
      "name": "Get Initial Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "waypoints",
              "value": "={{ $json.body.waypoints || '[{\"position\": {\"x\": 2.0, \"y\": 0.0, \"z\": 0.0}}, {\"position\": {\"x\": 2.0, \"y\": 2.0, \"z\": 0.0}}, {\"position\": {\"x\": 0.0, \"y\": 2.0, \"z\": 0.0}}, {\"position\": {\"x\": 0.0, \"y\": 0.0, \"z\": 0.0}}]' }}"
            },
            {
              "name": "patrol_speed",
              "value": "={{ $json.body.patrol_speed || 0.5 }}"
            },
            {
              "name": "patrol_cycles",
              "value": "={{ $json.body.patrol_cycles || 1 }}"
            }
          ],
          "boolean": [
            {
              "name": "return_to_start",
              "value": "={{ $json.body.return_to_start }}"
            }
          ]
        }
      },
      "id": "extract-patrol-params",
      "name": "Extract Patrol Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/patrol",
        "method": "POST",
        "options": {
          "bodyContentType": "json"
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"waypoints\": {{ $json.waypoints || '[{\"position\": {\"x\": 2.0, \"y\": 0.0, \"z\": 0.0}}, {\"position\": {\"x\": 2.0, \"y\": 2.0, \"z\": 0.0}}, {\"position\": {\"x\": 0.0, \"y\": 2.0, \"z\": 0.0}}, {\"position\": {\"x\": 0.0, \"y\": 0.0, \"z\": 0.0}}]' }},\n  \"patrol_speed\": {{ $json.patrol_speed || 0.5 }},\n  \"patrol_cycles\": {{ $json.patrol_cycles || 1 }},\n  \"return_to_start\": {{ $json.return_to_start || true }}\n}"
      },
      "id": "execute-patrol",
      "name": "Execute Patrol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Initial Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Initial Status": {
      "main": [
        [
          {
            "node": "Extract Patrol Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Patrol Parameters": {
      "main": [
        [
          {
            "node": "Execute Patrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Patrol": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
