workflow_backups/backup_20251110_132455/robot_line_follower.json
{
  "name": "Robot Line Follower (Framework - Advanced Line Following Not Implemented)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-status",
      "name": "Get Current Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "line_sensor_data",
              "value": "={{ $json.line_sensor }}"
            },
            {
              "name": "sensor_hex",
              "value": "={{ $json.line_sensor.toString(16).toUpperCase() }}"
            }
          ]
        }
      },
      "id": "extract-line-sensor",
      "name": "Extract Line Sensor Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "message": "🎯 ADVANCED LINE FOLLOWING FRAMEWORK\n\nLine Sensor Data: {{ $json.sensor_hex }}\n\nWould implement:\n• PID-based steering control\n• Adaptive speed adjustment\n• Line detection algorithms\n• Course correction logic\n\nCurrent ROS2 API supports basic line sensor reading only.\nAdvanced control requires dedicated line following node."
      },
      "id": "line-follow-framework",
      "name": "Line Following Framework",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Status": {
      "main": [
        [
          {
            "node": "Extract Line Sensor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Line Sensor Data": {
      "main": [
        [
          {
            "node": "Line Following Framework",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Following Framework": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "line-follower",
      "name": "Line Follower"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
