workflow_backups/backup_20251110_132455/robot_search_retrieve.json
{
  "name": "Search and Retrieve Objects (Sensor-Based)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-initial-status",
      "name": "Get Initial Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "search_pattern",
              "value": "={{ $json.body.search_pattern || 'spiral' }}"
            },
            {
              "name": "detection_threshold",
              "value": "={{ $json.body.detection_threshold || 0.8 }}"
            },
            {
              "name": "search_speed",
              "value": "={{ $json.body.search_speed || 0.2 }}"
            }
          ]
        }
      },
      "id": "extract-search-params",
      "name": "Extract Search Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/servos",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"action\": \"home\"\n}"
      },
      "id": "home-servos-start",
      "name": "Home Servos (Start)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "search_iterations",
              "value": "0"
            },
            {
              "name": "max_search_iterations",
              "value": "10"
            },
            {
              "name": "object_found",
              "value": "false"
            }
          ]
        }
      },
      "id": "initialize-search",
      "name": "Initialize Search",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "scan-environment",
      "name": "Scan Environment (Get Sensor Data)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.ultrasonic_front }}",
              "operation": "less",
              "value2": 0.5
            }
          ]
        }
      },
      "id": "check-object-detection",
      "name": "Check Object Detection (Ultrasonic)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 150]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.ir_front }}",
              "operation": "less",
              "value2": 0.3
            }
          ]
        }
      },
      "id": "check-ir-detection",
      "name": "Check IR Detection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 250]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "detection_status",
              "value": "Object detected via ultrasonic sensor at {{ $json.ultrasonic_front }}m"
            },
            {
              "name": "object_found",
              "value": "true"
            }
          ]
        }
      },
      "id": "object-detected-ultrasonic",
      "name": "Object Detected (Ultrasonic)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1560, 150]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "detection_status",
              "value": "Object detected via IR sensor at {{ $json.ir_front }}m"
            },
            {
              "name": "object_found",
              "value": "true"
            }
          ]
        }
      },
      "id": "object-detected-ir",
      "name": "Object Detected (IR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 250]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.search_pattern }}",
              "operation": "equal",
              "value2": "spiral"
            }
          ]
        }
      },
      "id": "is-spiral-search",
      "name": "Is Spiral Search Pattern?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 350]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"direction\": \"forward\",\n  \"speed\": {{ $json.search_speed }}\n}"
      },
      "id": "spiral-move-forward",
      "name": "Spiral Search: Move Forward",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 350]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/turn",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"direction\": \"left\",\n  \"speed\": {{ $json.search_speed }}\n}"
      },
      "id": "spiral-turn",
      "name": "Spiral Search: Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 350]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/stop",
        "method": "POST",
        "options": {}
      },
      "id": "stop-search-movement",
      "name": "Stop Search Movement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 350]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "search_iterations",
              "value": "={{ parseInt($json.search_iterations) + 1 }}"
            }
          ]
        }
      },
      "id": "increment-search-iteration",
      "name": "Increment Search Iteration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.object_found }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-object-found",
      "name": "Check if Object Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 250]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.search_iterations }}",
              "operation": "lessEqual",
              "value2": "={{ $json.max_search_iterations }}"
            }
          ]
        }
      },
      "id": "check-search-limit",
      "name": "Check Search Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 350]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "search_result",
              "value": "No object found within search limit ({{ $json.max_search_iterations }} iterations)"
            }
          ]
        }
      },
      "id": "search-failed",
      "name": "Search Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "approach_message",
              "value": "Approaching detected object: {{ $json.detection_status }}"
            }
          ]
        }
      },
      "id": "approach-object",
      "name": "Approach Detected Object",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"direction\": \"forward\",\n  \"speed\": 0.1\n}"
      },
      "id": "careful-approach",
      "name": "Careful Approach to Object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/stop",
        "method": "POST",
        "options": {}
      },
      "id": "stop-at-object",
      "name": "Stop at Object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 200]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"servo\": 4,\n  \"angle\": 30\n}"
      },
      "id": "lower-picker",
      "name": "Lower Picker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 200]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"servo\": 1,\n  \"angle\": 45\n}"
      },
      "id": "open-gripper",
      "name": "Open Gripper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 200]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"servo\": 1,\n  \"angle\": 135\n}"
      },
      "id": "close-gripper",
      "name": "Close Gripper (Retrieve Object)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3760, 200]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"servo\": 4,\n  \"angle\": 90\n}"
      },
      "id": "raise-with-object",
      "name": "Raise with Retrieved Object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3980, 200]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/servos",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"action\": \"home\"\n}"
      },
      "id": "home-servos-final",
      "name": "Home Servos (Final)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4200, 300]
    },
    {
      "parameters": {
        "url": "http://100.74.72.71:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4420, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "Search and retrieve completed successfully - object found and retrieved using sensor data after {{ $json.search_iterations }} search iterations"
            }
          ]
        }
      },
      "id": "operation-successful",
      "name": "Operation Successful",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [4640, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Initial Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Initial Status": {
      "main": [
        [
          {
            "node": "Extract Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Search Parameters": {
      "main": [
        [
          {
            "node": "Home Servos (Start)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Home Servos (Start)": {
      "main": [
        [
          {
            "node": "Initialize Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Search": {
      "main": [
        [
          {
            "node": "Scan Environment (Get Sensor Data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Environment (Get Sensor Data)": {
      "main": [
        [
          {
            "node": "Check Object Detection (Ultrasonic)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check IR Detection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Spiral Search Pattern?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Object Detection (Ultrasonic)": {
      "main": [
        [
          {
            "node": "Object Detected (Ultrasonic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check IR Detection": {
      "main": [
        [
          {
            "node": "Object Detected (IR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Object Detected (Ultrasonic)": {
      "main": [
        [
          {
            "node": "Check if Object Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Object Detected (IR)": {
      "main": [
        [
          {
            "node": "Check if Object Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Spiral Search Pattern?": {
      "main": [
        [
          {
            "node": "Spiral Search: Move Forward",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spiral Search: Move Forward": {
      "main": [
        [
          {
            "node": "Spiral Search: Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spiral Search: Turn": {
      "main": [
        [
          {
            "node": "Stop Search Movement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Search Movement": {
      "main": [
        [
          {
            "node": "Increment Search Iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Search Iteration": {
      "main": [
        [
          {
            "node": "Check if Object Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Object Found": {
      "main": [
        [
          {
            "node": "Approach Detected Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Search Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Search Limit": {
      "main": [
        [
          {
            "node": "Scan Environment (Get Sensor Data)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Failed",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Approach Detected Object": {
      "main": [
        [
          {
            "node": "Careful Approach to Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Careful Approach to Object": {
      "main": [
        [
          {
            "node": "Stop at Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop at Object": {
      "main": [
        [
          {
            "node": "Lower Picker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lower Picker": {
      "main": [
        [
          {
            "node": "Open Gripper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Gripper": {
      "main": [
        [
          {
            "node": "Close Gripper (Retrieve Object)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Gripper (Retrieve Object)": {
      "main": [
        [
          {
            "node": "Raise with Retrieved Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raise with Retrieved Object": {
      "main": [
        [
          {
            "node": "Home Servos (Final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Home Servos (Final)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Status": {
      "main": [
        [
          {
            "node": "Operation Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "search-retrieve",
      "name": "Search and Retrieve"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
