n8n_data/workflows/individual_control_picker_system.json
{
  "name": "Control Picker System (Servo Control)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-status",
      "name": "Get Current Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "gripper_angle",
              "value": "={{ $json.body.gripper_angle || 90 }}"
            },
            {
              "name": "gripper_tilt_angle",
              "value": "={{ $json.body.gripper_tilt_angle || 90 }}"
            },
            {
              "name": "gripper_neck_angle",
              "value": "={{ $json.body.gripper_neck_angle || 90 }}"
            },
            {
              "name": "gripper_base_angle",
              "value": "={{ $json.body.gripper_base_angle || 90 }}"
            }
          ]
        }
      },
      "id": "extract-picker-params",
      "name": "Extract Picker Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 1,\n  \"angle\": {{ $json.gripper_angle }}\n}"
      },
      "id": "control-gripper",
      "name": "Control Gripper (Servo 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 150]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 2,\n  \"angle\": {{ $json.gripper_tilt_angle }}\n}"
      },
      "id": "control-gripper-tilt",
      "name": "Control Gripper Tilt (Servo 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 250]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 3,\n  \"angle\": {{ $json.gripper_neck_angle }}\n}"
      },
      "id": "control-gripper-neck",
      "name": "Control Gripper Neck (Servo 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 350]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 4,\n  \"angle\": {{ $json.gripper_base_angle }}\n}"
      },
      "id": "control-gripper-base",
      "name": "Control Gripper Base (Servo 4)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 450]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servos",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"home\"\n}"
      },
      "id": "home-all-servos",
      "name": "Home All Servos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 550]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Status": {
      "main": [
        [
          {
            "node": "Extract Picker Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Picker Parameters": {
      "main": [
        [
          {
            "node": "Control Gripper (Servo 1)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Control Gripper Tilt (Servo 2)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Control Gripper Neck (Servo 3)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Control Gripper Base (Servo 4)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Home All Servos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Gripper (Servo 1)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Gripper Tilt (Servo 2)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Gripper Neck (Servo 3)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Gripper Base (Servo 4)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Home All Servos": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "individual-control",
      "name": "Individual Control"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "picker-system",
      "name": "Picker System"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
