n8n_data/workflows/individual_control_hardware_controls.json
{
  "name": "Control Hardware Controls (Emergency & Safety)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-status",
      "name": "Get Current Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "control_type",
              "value": "={{ $json.body.control_type || 'emergency' }}"
            },
            {
              "name": "control_action",
              "value": "={{ $json.body.control_action || 'stop' }}"
            }
          ]
        }
      },
      "id": "extract-control-params",
      "name": "Extract Control Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.control_type }}",
              "operation": "equal",
              "value2": "emergency"
            }
          ]
        }
      },
      "id": "is-emergency",
      "name": "Is Emergency Control?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.control_type }}",
              "operation": "equal",
              "value2": "start_stop"
            }
          ]
        }
      },
      "id": "is-start-stop",
      "name": "Is Start/Stop Control?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.control_type }}",
              "operation": "equal",
              "value2": "mode"
            }
          ]
        }
      },
      "id": "is-mode",
      "name": "Is Mode Control?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/emergency-stop",
        "method": "POST",
        "options": {}
      },
      "id": "emergency-stop",
      "name": "Emergency Stop (Implemented)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Start/Stop control not yet implemented in ROS2 API"
            }
          ]
        }
      },
      "id": "start-stop-placeholder",
      "name": "Start/Stop Control (Not Implemented)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Mode control (train/run) not yet implemented in ROS2 API"
            }
          ]
        }
      },
      "id": "mode-placeholder",
      "name": "Mode Control (Not Implemented)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Status": {
      "main": [
        [
          {
            "node": "Extract Control Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Control Parameters": {
      "main": [
        [
          {
            "node": "Is Emergency Control?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Start/Stop Control?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Mode Control?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Emergency Control?": {
      "main": [
        [
          {
            "node": "Emergency Stop (Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start/Stop Control?": {
      "main": [
        [
          {
            "node": "Start/Stop Control (Not Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Mode Control?": {
      "main": [
        [
          {
            "node": "Mode Control (Not Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Stop (Implemented)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start/Stop Control (Not Implemented)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mode Control (Not Implemented)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "individual-control",
      "name": "Individual Control"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "hardware-controls",
      "name": "Hardware Controls"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
