n8n_data/workflows/individual_sensor_line_following.json
{
  "name": "Line Sensor Following with PID Control",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "following_speed",
              "value": "={{ $json.body.following_speed || 0.3 }}"
            },
            {
              "name": "sensitivity",
              "value": "={{ $json.body.sensitivity || 0.8 }}"
            },
            {
              "name": "max_correction",
              "value": "={{ $json.body.max_correction || 0.5 }}"
            }
          ]
        }
      },
      "id": "configure-following",
      "name": "Configure Line Following",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-sensor-status",
      "name": "Get Sensor Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Process 3 individual line sensors (left, center, right)\n// In real implementation, this would read from /line_sensor/left, /line_sensor/center, /line_sensor/right\nconst sensor_left = $input.item.json.line_sensor_left || 0;\nconst sensor_center = $input.item.json.line_sensor_center || 0;\nconst sensor_right = $input.item.json.line_sensor_right || 0;\n\n// Calculate line position (-1 to 1, where 0 is center)\n// Left=-1, Center=0, Right=1\nlet line_position = 0;\nlet line_detected = sensor_left || sensor_center || sensor_right;\n\nif (sensor_left && sensor_center && sensor_right) {\n  line_position = 0; // All sensors on line - centered\n} else if (sensor_left && sensor_center) {\n  line_position = -0.3; // Slightly left\n} else if (sensor_center && sensor_right) {\n  line_position = 0.3; // Slightly right\n} else if (sensor_left && sensor_right) {\n  line_position = 0; // Line between sensors\n} else if (sensor_left) {\n  line_position = -0.8; // Far left\n} else if (sensor_right) {\n  line_position = 0.8; // Far right\n} else if (sensor_center) {\n  line_position = 0; // Perfect center\n} else {\n  line_position = 0; // No line detected\n}\n\nreturn {\n  sensor_left: sensor_left,\n  sensor_center: sensor_center,\n  sensor_right: sensor_right,\n  line_position: line_position,\n  line_detected: line_detected\n};"
      },
      "id": "process-line-sensors",
      "name": "Process Line Sensor Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// PID-like line following correction\nconst line_pos = $input.item.json.line_position;\nconst sensitivity = parseFloat($input.item.json.sensitivity || 0.8);\nconst max_correction = parseFloat($input.item.json.max_correction || 0.5);\nconst base_speed = parseFloat($input.item.json.following_speed || 0.3);\n\n// Proportional correction\nlet correction = line_pos * sensitivity;\n\n// Limit correction\ncorrection = Math.max(-max_correction, Math.min(max_correction, correction));\n\n// Calculate wheel speeds for differential steering\nconst left_speed = base_speed - correction;\nconst right_speed = base_speed + correction;\n\nreturn {\n  left_wheel_speed: Math.max(0, left_speed),\n  right_wheel_speed: Math.max(0, right_speed),\n  correction: correction,\n  line_position: line_pos\n};"
      },
      "id": "calculate-correction",
      "name": "Calculate PID Correction",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.line_detected }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "line-detected-check",
      "name": "Line Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "functionCode": "// Execute line following movement using 3 omni wheels (lf, rf, b)\n// Omni wheels support both forward/backward and lateral movement\nconst line_pos = $input.item.json.line_position;\nconst base_speed = parseFloat($input.item.json.following_speed || 0.3);\nconst correction_gain = parseFloat($input.item.json.sensitivity || 0.8);\n\n// For omni wheels, we can use lateral movement to correct line following\n// Positive line_pos = line is to the right, need to move left (negative lateral)\nconst lateral_correction = -line_pos * correction_gain * base_speed;\nconst forward_speed = base_speed * 0.8; // Slightly reduce forward speed during correction\n\n// Calculate individual wheel velocities for 3 omni wheels\n// lf = left front, rf = right front, b = back\nconst wheel_lf = forward_speed - lateral_correction;\nconst wheel_rf = forward_speed + lateral_correction;\nconst wheel_b = forward_speed;\n\nreturn {\n  action: 'omni_move',\n  forward_speed: forward_speed,\n  lateral_speed: lateral_correction,\n  wheel_lf: wheel_lf,\n  wheel_rf: wheel_rf,\n  wheel_b: wheel_b,\n  correction: lateral_correction\n};"
      },
      "id": "execute-following-movement",
      "name": "Execute Following Movement",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 160]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"linear_x\": {{ $json.forward_speed || 0.3 }},\n  \"linear_y\": {{ $json.lateral_speed || 0.0 }},\n  \"angular_z\": 0.0\n}"
      },
      "id": "move-robot",
      "name": "Move Robot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 160]
    },
    {
      "parameters": {
        "functionCode": "// Implement line search pattern when line is lost\nconst search_attempts = $input.item.json.search_attempts || 0;\n\nif (search_attempts < 3) {\n  // Spiral search pattern\n  const directions = ['forward', 'strafe_left', 'turn_left', 'strafe_right'];\n  const direction = directions[search_attempts % directions.length];\n  return {\n    search_direction: direction,\n    search_speed: 0.2,\n    search_attempts: search_attempts + 1,\n    continue_search: true\n  };\n} else {\n  // Give up and stop\n  return {\n    search_direction: 'stop',\n    search_speed: 0,\n    search_attempts: search_attempts + 1,\n    continue_search: false\n  };\n}"
      },
      "id": "line-search-pattern",
      "name": "Line Search Pattern",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 440]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"direction\": \"{{ ['forward', 'backward', 'strafe_left', 'strafe_right'].includes($json.search_direction) ? $json.search_direction : 'forward' }}\",\n  \"speed\": {{ $json.search_speed || 0.3 }}\n}"
      },
      "id": "search-movement",
      "name": "Execute Search Movement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 440]
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "id": "following-delay",
      "name": "Following Control Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "following_status",
              "value": "Line following active - Position: {{ $json.line_position }}, Correction: {{ $json.correction }}"
            }
          ],
          "number": [
            {
              "name": "sensor_left",
              "value": "={{ $json.sensor_left }}"
            },
            {
              "name": "sensor_center",
              "value": "={{ $json.sensor_center }}"
            },
            {
              "name": "sensor_right",
              "value": "={{ $json.sensor_right }}"
            }
          ]
        }
      },
      "id": "log-following-status",
      "name": "Log Following Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configure Line Following",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Line Following": {
      "main": [
        [
          {
            "node": "Get Sensor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sensor Status": {
      "main": [
        [
          {
            "node": "Process Line Sensor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Line Sensor Data": {
      "main": [
        [
          {
            "node": "Calculate PID Correction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate PID Correction": {
      "main": [
        [
          {
            "node": "Line Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Detected?": {
      "main": [
        [
          {
            "node": "Execute Following Movement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line Search Pattern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Following Movement": {
      "main": [
        [
          {
            "node": "Move Robot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Robot": {
      "main": [
        [
          {
            "node": "Following Control Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Search Pattern": {
      "main": [
        [
          {
            "node": "Execute Search Movement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Search Movement": {
      "main": [
        [
          {
            "node": "Following Control Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Following Control Delay": {
      "main": [
        [
          {
            "node": "Log Following Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Following Status": {
      "main": [
        [
          {
            "node": "Get Sensor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "individual-control",
      "name": "Individual Control"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "sensor-control",
      "name": "Sensor Control"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}