n8n_data/workflows/individual_control_container_system.json
{
  "name": "Control Container System (Not Yet Implemented)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-status",
      "name": "Get Current Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "container_action",
              "value": "={{ $json.body.container_action || 'check' }}"
            },
            {
              "name": "container_position",
              "value": "={{ $json.body.container_position || 'left_front' }}"
            }
          ]
        }
      },
      "id": "extract-container-params",
      "name": "Extract Container Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.container_position }}",
              "operation": "equal",
              "value2": "left_front"
            }
          ]
        }
      },
      "id": "is-left-front",
      "name": "Is Left Front Container?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.container_position }}",
              "operation": "equal",
              "value2": "left_back"
            }
          ]
        }
      },
      "id": "is-left-back",
      "name": "Is Left Back Container?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.container_position }}",
              "operation": "equal",
              "value2": "right_front"
            }
          ]
        }
      },
      "id": "is-right-front",
      "name": "Is Right Front Container?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.container_position }}",
              "operation": "equal",
              "value2": "right_back"
            }
          ]
        }
      },
      "id": "is-right-back",
      "name": "Is Right Back Container?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Left Front Container control not yet implemented in ROS2 API. Action requested: {{ $json.container_action }}"
            }
          ]
        }
      },
      "id": "left-front-placeholder",
      "name": "Left Front Container (Not Implemented)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Left Back Container control not yet implemented in ROS2 API. Action requested: {{ $json.container_action }}"
            }
          ]
        }
      },
      "id": "left-back-placeholder",
      "name": "Left Back Container (Not Implemented)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Right Front Container control not yet implemented in ROS2 API. Action requested: {{ $json.container_action }}"
            }
          ]
        }
      },
      "id": "right-front-placeholder",
      "name": "Right Front Container (Not Implemented)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Right Back Container control not yet implemented in ROS2 API. Action requested: {{ $json.container_action }}"
            }
          ]
        }
      },
      "id": "right-back-placeholder",
      "name": "Right Back Container (Not Implemented)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Status": {
      "main": [
        [
          {
            "node": "Extract Container Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Container Parameters": {
      "main": [
        [
          {
            "node": "Is Left Front Container?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Left Back Container?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Right Front Container?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Right Back Container?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Left Front Container?": {
      "main": [
        [
          {
            "node": "Left Front Container (Not Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Left Back Container?": {
      "main": [
        [
          {
            "node": "Left Back Container (Not Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Right Front Container?": {
      "main": [
        [
          {
            "node": "Right Front Container (Not Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Right Back Container?": {
      "main": [
        [
          {
            "node": "Right Back Container (Not Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Left Front Container (Not Implemented)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Left Back Container (Not Implemented)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Right Front Container (Not Implemented)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Right Back Container (Not Implemented)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "individual-control",
      "name": "Individual Control"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "container-system",
      "name": "Container System"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
