n8n_data/workflows/individual_movement_distance_control.json
{
  "name": "Distance-Based Movement Control",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "target_distance",
              "value": "={{ $json.body.target_distance || 2.0 }}"
            },
            {
              "name": "direction",
              "value": "={{ $json.body.direction || 'forward' }}"
            },
            {
              "name": "speed",
              "value": "={{ $json.body.speed || 0.5 }}"
            },
            {
              "name": "tolerance",
              "value": "={{ $json.body.tolerance || 0.1 }}"
            }
          ]
        }
      },
      "id": "extract-params",
      "name": "Extract Movement Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-initial-position",
      "name": "Get Initial Position",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "start_x",
              "value": "={{ $json.data.current_pose.position.x }}"
            },
            {
              "name": "start_y",
              "value": "={{ $json.data.current_pose.position.y }}"
            },
            {
              "name": "distance_traveled",
              "value": 0
            }
          ]
        }
      },
      "id": "initialize-tracking",
      "name": "Initialize Distance Tracking",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"{{ $json.direction }}\",\n  \"speed\": {{ $json.speed }}\n}"
      },
      "id": "start-movement",
      "name": "Start Movement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "functionCode": "// Calculate distance traveled\nconst start_x = parseFloat($input.item.json.start_x || 0);\nconst start_y = parseFloat($input.item.json.start_y || 0);\nconst current_x = $input.item.json.data?.current_pose?.position?.x || 0;\nconst current_y = $input.item.json.data?.current_pose?.position?.y || 0;\n\nconst distance = Math.sqrt(Math.pow(current_x - start_x, 2) + Math.pow(current_y - start_y, 2));\n\nreturn {\n  distance_traveled: distance,\n  current_x: current_x,\n  current_y: current_y,\n  progress_percentage: Math.min(100, (distance / parseFloat($input.item.json.target_distance)) * 100)\n};"
      },
      "id": "calculate-distance",
      "name": "Calculate Distance Traveled",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.distance_traveled }}",
              "value2": "={{ parseFloat($json.target_distance) - parseFloat($json.tolerance) }}",
              "operation": "smaller"
            }
          ]
        }
      },
      "id": "check-target-reached",
      "name": "Check Target Distance Reached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/stop",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{}"
      },
      "id": "stop-at-target",
      "name": "Stop at Target Distance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 140]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "Target distance reached: {{ $json.distance_traveled }}m (target: {{ $json.target_distance }}m)"
            }
          ],
          "number": [
            {
              "name": "final_distance",
              "value": "={{ $json.distance_traveled }}"
            },
            {
              "name": "accuracy_error",
              "value": "={{ Math.abs(parseFloat($json.distance_traveled) - parseFloat($json.target_distance)) }}"
            }
          ]
        }
      },
      "id": "target-reached",
      "name": "Target Distance Reached",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1560, 140]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "continue-monitoring",
      "name": "Continue Monitoring Position",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Moving {{ $json.direction }} - Distance: {{ $json.distance_traveled }}/{{ $json.target_distance }}m ({{ $json.progress_percentage }}%)"
            }
          ]
        }
      },
      "id": "log-progress",
      "name": "Log Progress",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1560, 460]
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "id": "movement-delay",
      "name": "Movement Monitoring Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract Movement Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Movement Parameters": {
      "main": [
        [
          {
            "node": "Get Initial Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Initial Position": {
      "main": [
        [
          {
            "node": "Initialize Distance Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Distance Tracking": {
      "main": [
        [
          {
            "node": "Start Movement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Movement": {
      "main": [
        [
          {
            "node": "Calculate Distance Traveled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Distance Traveled": {
      "main": [
        [
          {
            "node": "Check Target Distance Reached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Target Distance Reached": {
      "main": [
        [
          {
            "node": "Stop at Target Distance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Monitoring Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop at Target Distance": {
      "main": [
        [
          {
            "node": "Target Distance Reached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Target Distance Reached": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Monitoring Position": {
      "main": [
        [
          {
            "node": "Log Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Progress": {
      "main": [
        [
          {
            "node": "Movement Monitoring Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Movement Monitoring Delay": {
      "main": [
        [
          {
            "node": "Calculate Distance Traveled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Status": {
      "main": [
        [
          {
            "node": "Target Distance Reached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "individual-control",
      "name": "Individual Control"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "movement-control",
      "name": "Movement Control"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}