n8n_data/workflows/individual_control_container_system.json
{
  "name": "Control Container System",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-status",
      "name": "Get Current Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "container_action",
              "value": "={{ $json.body.container_action || 'check' }}"
            },
            {
              "name": "container_position",
              "value": "={{ $json.body.container_position || 'left_front' }}"
            },
            {
              "name": "container_load",
              "value": "={{ $json.body.container_load || false }}"
            }
          ]
        }
      },
      "id": "extract-container-params",
      "name": "Extract Container Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/containers/left_front",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"={{ $json.container_action }}\",\n  \"load\": {{ $json.container_load }}\n}"
      },
      "id": "control-left-front",
      "name": "Control Left Front Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/containers/left_back",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"={{ $json.container_action }}\",\n  \"load\": {{ $json.container_load }}\n}"
      },
      "id": "control-left-back",
      "name": "Control Left Back Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/containers/right_front",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"={{ $json.container_action }}\",\n  \"load\": {{ $json.container_load }}\n}"
      },
      "id": "control-right-front",
      "name": "Control Right Front Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/containers/right_back",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"={{ $json.container_action }}\",\n  \"load\": {{ $json.container_load }}\n}"
      },
      "id": "control-right-back",
      "name": "Control Right Back Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Status": {
      "main": [
        [
          {
            "node": "Extract Container Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Container Parameters": {
      "main": [
        [
          {
            "node": "Control Left Front Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "Control Left Back Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "Control Right Front Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "Control Right Back Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Left Front Container": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Left Back Container": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Right Front Container": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Right Back Container": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "individual-control",
      "name": "Individual Control"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "container-system",
      "name": "Container System"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
