n8n_data/workflows/robot_line_follower.json
{
  "name": "Robot Line Follower",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-status",
      "name": "Get Current Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/sensors/line",
        "method": "GET",
        "options": {}
      },
      "id": "get-line-sensor",
      "name": "Get Line Sensor Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/control/line_follow",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"line_data\": \"={{ $json.line_data }}\",\n  \"pid_enabled\": true,\n  \"speed\": 0.3\n}"
      },
      "id": "line-follow-control",
      "name": "Line Follow Control",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Status": {
      "main": [
        [
          {
            "node": "Get Line Sensor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Line Sensor Data": {
      "main": [
        [
          {
            "node": "Line Follow Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Follow Control": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "line-follower",
      "name": "Line Follower"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
