n8n_data/workflows/robot_patrol.json
{
  "name": "Autonomous Square Patrol",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": "0,30 * * * * *"
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [20, 200]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "patrol_step",
              "value": "={{ ($node[\"Patrol Counter\"].json.patrol_step || 0) + 1 }}"
            }
          ]
        }
      },
      "id": "patrol-counter",
      "name": "Patrol Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Patrol Counter\"].json.patrol_step }}",
              "operation": "modulo",
              "value2": 2
            }
          ]
        }
      },
      "id": "movement-decision",
      "name": "Movement Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/move",
        "options": {
          "bodyContentType": "json"
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"forward\",\n  \"speed\": 0.5\n}",
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "id": "move-forward",
      "name": "Move Forward",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 80]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/turn",
        "options": {
          "bodyContentType": "json"
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"left\",\n  \"speed\": 0.5\n}",
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "id": "rotate-90",
      "name": "Rotate 90°",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Patrol step {{ $node[\"Patrol Counter\"].json.patrol_step }} completed"
            }
          ]
        }
      },
      "id": "log-patrol",
      "name": "Log Patrol",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "delay": 4000
      },
      "id": "delay-forward",
      "name": "Delay Forward",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 80]
    },
    {
      "parameters": {
        "delay": 2000
      },
      "id": "delay-rotate",
      "name": "Delay Rotate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 320]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Patrol Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patrol Counter": {
      "main": [
        [
          {
            "node": "Movement Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Movement Decision": {
      "main": [
        [
          {
            "node": "Move Forward",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rotate 90°",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Forward": {
      "main": [
        [
          {
            "node": "Log Patrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotate 90°": {
      "main": [
        [
          {
            "node": "Log Patrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Patrol": {
      "main": [
        [
          {
            "node": "Delay Forward",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay Rotate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "executionOrder": "v1"
  },
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    }
  ]
}
