n8n_data/workflows/robot_path_planning.json
{
  "name": "Robot Path Planning",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-status",
      "name": "Get Current Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "start_x",
              "value": "={{ $json.body.start_x || 0 }}"
            },
            {
              "name": "start_y",
              "value": "={{ $json.body.start_y || 0 }}"
            },
            {
              "name": "goal_x",
              "value": "={{ $json.body.goal_x || 5 }}"
            },
            {
              "name": "goal_y",
              "value": "={{ $json.body.goal_y || 5 }}"
            },
            {
              "name": "planning_mode",
              "value": "={{ $json.body.planning_mode || 'automatic' }}"
            }
          ]
        }
      },
      "id": "extract-path-params",
      "name": "Extract Path Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/navigation/plan_path",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"start\": {\n    \"x\": {{ $json.start_x }},\n    \"y\": {{ $json.start_y }}\n  },\n  \"goal\": {\n    \"x\": {{ $json.goal_x }},\n    \"y\": {{ $json.goal_y }}\n  },\n  \"mode\": \"={{ $json.planning_mode }}\"\n}"
      },
      "id": "plan-path",
      "name": "Plan Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/navigation/execute_path",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"path_id\": \"={{ $json.path_id }}\"\n}"
      },
      "id": "execute-path",
      "name": "Execute Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Status": {
      "main": [
        [
          {
            "node": "Extract Path Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Path Parameters": {
      "main": [
        [
          {
            "node": "Plan Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Path": {
      "main": [
        [
          {
            "node": "Execute Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Path": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "path-planning",
      "name": "Path Planning"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
