n8n_data/workflows/robot_pick_place.json
{
  "name": "Pick and Place Task Automation",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "robot/pick_place",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [20, 300],
      "webhookId": "robot-pick-place"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pickup_location",
              "value": "={{ $json.body.pickup_location || 'default' }}"
            },
            {
              "name": "place_location",
              "value": "={{ $json.body.place_location || 'default' }}"
            },
            {
              "name": "object_type",
              "value": "={{ $json.body.object_type || 'unknown' }}"
            }
          ]
        }
      },
      "id": "extract-parameters",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "object": {
            "linear_x": 0.3,
            "linear_y": 0,
            "angular_z": 0,
            "target": "pickup"
          }
        }
      },
      "id": "navigate-to-pickup",
      "name": "Navigate to Pickup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "values": {
          "object": {
            "joint_positions": [0, -1.57, 0, 0, 0, 0],
            "gripper_command": "open"
          }
        }
      },
      "id": "lower-arm",
      "name": "Lower Arm",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 80]
    },
    {
      "parameters": {
        "values": {
          "object": {
            "gripper_command": "close"
          }
        }
      },
      "id": "grip-object",
      "name": "Grip Object",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 80]
    },
    {
      "parameters": {
        "values": {
          "object": {
            "linear_x": 0.3,
            "linear_y": 0.5,
            "angular_z": 0,
            "target": "place"
          }
        }
      },
      "id": "navigate-to-place",
      "name": "Navigate to Place",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "values": {
          "object": {
            "joint_positions": [0, -0.5, 0, 0, 0, 0],
            "gripper_command": "open"
          }
        }
      },
      "id": "release-object",
      "name": "Release Object",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 420]
    },
    {
      "parameters": {
        "values": {
          "object": {
            "status": "completed",
            "message": "Pick and place task completed successfully"
          }
        }
      },
      "id": "task-complete",
      "name": "Task Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "topic": "/cmd_vel",
        "messageType": "geometry_msgs/Twist",
        "linearX": "={{ $json.linear_x || 0 }}",
        "linearY": "={{ $json.linear_y || 0 }}",
        "angularZ": "={{ $json.angular_z || 0 }}"
      },
      "id": "navigation-publisher",
      "name": "Navigation Publisher",
      "type": "custom.ros2Publisher",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "topic": "/arm_controller/command",
        "messageType": "std_msgs/String",
        "data": "={{ $json.gripper_command || $json.joint_positions ? JSON.stringify($json) : '' }}"
      },
      "id": "arm-controller",
      "name": "Arm Controller",
      "type": "custom.ros2Publisher",
      "typeVersion": 1,
      "position": [1340, 80]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Navigate to Pickup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Navigate to Pickup": {
      "main": [
        [
          {
            "node": "Navigation Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Navigation Publisher": {
      "main": [
        [
          {
            "node": "Lower Arm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lower Arm": {
      "main": [
        [
          {
            "node": "Arm Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arm Controller": {
      "main": [
        [
          {
            "node": "Grip Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grip Object": {
      "main": [
        [
          {
            "node": "Arm Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Navigate to Place": {
      "main": [
        [
          {
            "node": "Navigation Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Object": {
      "main": [
        [
          {
            "node": "Arm Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Complete": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all"
  },
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    }
  ]
}
