n8n_data/workflows/robot_emergency_stop.json
{
  "name": "Emergency Stop Monitor",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-emergency",
      "name": "Manual Emergency",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 100]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "options": {}
      },
      "id": "check-robot-status",
      "name": "Check Robot Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 100]
    },
    {
      "parameters": {
        "functionCode": "const status = $input.item.json;\nconst battery = status.battery || 100;\nconst obstacle = status.obstacle || 'None';\n\n// Check for emergency conditions\nif (battery < 10) {\n  return { emergency: true, reason: 'low_battery', battery: battery };\n}\n\nif (obstacle !== 'None') {\n  return { emergency: true, reason: 'obstacle_detected', obstacle: obstacle };\n}\n\nreturn { emergency: false, status: status };"
      },
      "id": "check-emergency",
      "name": "Check Emergency Conditions",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.emergency }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "emergency-trigger",
      "name": "Emergency Trigger?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 100]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/emergency",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "{}"
      },
      "id": "emergency-stop-api",
      "name": "Emergency Stop API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 50]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/stop",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "{}"
      },
      "id": "stop-robot-api",
      "name": "Stop Robot API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 150]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Emergency stop activated - {{ $node[\"Check Emergency Conditions\"].json.reason }}"
            },
            {
              "name": "priority",
              "value": "high"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"
            }
          ]
        }
      },
      "id": "notification-data",
      "name": "Notification Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 250]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "options": {}
      },
      "id": "verify-stop",
      "name": "Verify Robot Stopped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.emergency }}",
              "operation": "equal",
              "value2": false
            }
          ]
        }
      },
      "id": "safe-condition",
      "name": "Safe Condition?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Robot is safe - no emergency conditions detected"
            },
            {
              "name": "battery",
              "value": "={{ $node[\"Check Robot Status\"].json.battery }}"
            },
            {
              "name": "obstacle",
              "value": "={{ $node[\"Check Robot Status\"].json.obstacle }}"
            }
          ]
        }
      },
      "id": "safe-status",
      "name": "Safe Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Manual Emergency": {
      "main": [
        [
          {
            "node": "Check Robot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Robot Status": {
      "main": [
        [
          {
            "node": "Check Emergency Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Emergency Conditions": {
      "main": [
        [
          {
            "node": "Emergency Trigger?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Safe Condition?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Trigger?": {
      "main": [
        [
          {
            "node": "Emergency Stop API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stop Robot API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Stop API": {
      "main": [
        [
          {
            "node": "Verify Robot Stopped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Robot API": {
      "main": [
        [
          {
            "node": "Verify Robot Stopped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safe Condition?": {
      "main": [
        [
          {
            "node": "Safe Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "executionOrder": "v1"
  },
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    }
  ]
}