n8n_data/workflows/robot_system_calibration.json
{
  "name": "Complete System Calibration and Testing",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "initial-system-check",
      "name": "Initial System Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "calibration_stage",
              "value": "initialization"
            },
            {
              "name": "test_results",
              "value": "[]"
            }
          ]
        }
      },
      "id": "initialize-calibration",
      "name": "Initialize Calibration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "stage_message",
              "value": "🔧 Stage 1: Servo System Calibration - Testing all 5 servos"
            }
          ]
        }
      },
      "id": "servo-calibration-start",
      "name": "Servo Calibration Start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/servos",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"home\"\n}"
      },
      "id": "home-all-servos",
      "name": "Home All Servos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 1,\n  \"angle\": 0\n}"
      },
      "id": "test-servo-1-min",
      "name": "Test Servo 1 (Min)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 1,\n  \"angle\": 90\n}"
      },
      "id": "test-servo-1-mid",
      "name": "Test Servo 1 (Mid)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 1,\n  \"angle\": 180\n}"
      },
      "id": "test-servo-1-max",
      "name": "Test Servo 1 (Max)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "servo_test_result",
              "value": "✅ Servo 1 (Gripper) calibration completed - range 0°-180° tested"
            }
          ]
        }
      },
      "id": "servo-1-complete",
      "name": "Servo 1 Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "stage_message",
              "value": "🔄 Stage 2: Movement System Calibration - Testing omni wheels"
            }
          ]
        }
      },
      "id": "movement-calibration-start",
      "name": "Movement Calibration Start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"forward\",\n  \"speed\": 0.2\n}"
      },
      "id": "test-forward-movement",
      "name": "Test Forward Movement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/stop",
        "method": "POST",
        "options": {}
      },
      "id": "stop-forward-test",
      "name": "Stop Forward Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"backward\",\n  \"speed\": 0.2\n}"
      },
      "id": "test-backward-movement",
      "name": "Test Backward Movement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/stop",
        "method": "POST",
        "options": {}
      },
      "id": "stop-backward-test",
      "name": "Stop Backward Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/turn",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"left\",\n  \"speed\": 0.2\n}"
      },
      "id": "test-left-turn",
      "name": "Test Left Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 350]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/turn",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"right\",\n  \"speed\": 0.2\n}"
      },
      "id": "test-right-turn",
      "name": "Test Right Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 450]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/stop",
        "method": "POST",
        "options": {}
      },
      "id": "stop-turn-test",
      "name": "Stop Turn Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "movement_test_result",
              "value": "✅ Movement system calibration completed - forward/backward/turning tested"
            }
          ]
        }
      },
      "id": "movement-test-complete",
      "name": "Movement Test Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "stage_message",
              "value": "📡 Stage 3: Sensor System Calibration - Testing all sensors"
            }
          ]
        }
      },
      "id": "sensor-calibration-start",
      "name": "Sensor Calibration Start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "read-sensor-data",
      "name": "Read Sensor Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sensor_status",
              "value": "📊 Sensor readings: Ultrasonic={{ $json.ultrasonic_front }}m, IR={{ $json.ir_front }}m, Line={{ $json.line_sensor }}"
            }
          ]
        }
      },
      "id": "analyze-sensor-data",
      "name": "Analyze Sensor Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "stage_message",
              "value": "🛡️ Stage 4: Safety System Calibration - Testing emergency protocols"
            }
          ]
        }
      },
      "id": "safety-calibration-start",
      "name": "Safety Calibration Start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 800]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/emergency-stop",
        "method": "POST",
        "options": {}
      },
      "id": "test-emergency-stop",
      "name": "Test Emergency Stop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 800]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "safety_test_result",
              "value": "✅ Emergency stop system tested successfully"
            }
          ]
        }
      },
      "id": "safety-test-complete",
      "name": "Safety Test Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 800]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/servos",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"home\"\n}"
      },
      "id": "final-system-home",
      "name": "Final System Home",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 600]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "final-system-check",
      "name": "Final System Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 600]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "calibration_complete",
              "value": "🎉 Complete system calibration finished successfully! All servos, movement, sensors, and safety systems tested and verified."
            }
          ]
        }
      },
      "id": "calibration-success",
      "name": "Calibration Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1780, 600]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Initial System Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial System Check": {
      "main": [
        [
          {
            "node": "Initialize Calibration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Calibration": {
      "main": [
        [
          {
            "node": "Servo Calibration Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "Movement Calibration Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sensor Calibration Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "Safety Calibration Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Servo Calibration Start": {
      "main": [
        [
          {
            "node": "Home All Servos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Home All Servos": {
      "main": [
        [
          {
            "node": "Test Servo 1 (Min)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Servo 1 (Min)": {
      "main": [
        [
          {
            "node": "Test Servo 1 (Mid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Servo 1 (Mid)": {
      "main": [
        [
          {
            "node": "Test Servo 1 (Max)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Servo 1 (Max)": {
      "main": [
        [
          {
            "node": "Servo 1 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Movement Calibration Start": {
      "main": [
        [
          {
            "node": "Test Forward Movement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Forward Movement": {
      "main": [
        [
          {
            "node": "Stop Forward Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Forward Test": {
      "main": [
        [
          {
            "node": "Test Backward Movement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Backward Movement": {
      "main": [
        [
          {
            "node": "Stop Backward Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Backward Test": {
      "main": [
        [
          {
            "node": "Test Left Turn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Right Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Left Turn": {
      "main": [
        [
          {
            "node": "Stop Turn Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Right Turn": {
      "main": [
        [
          {
            "node": "Stop Turn Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Turn Test": {
      "main": [
        [
          {
            "node": "Movement Test Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sensor Calibration Start": {
      "main": [
        [
          {
            "node": "Read Sensor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sensor Data": {
      "main": [
        [
          {
            "node": "Analyze Sensor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Calibration Start": {
      "main": [
        [
          {
            "node": "Test Emergency Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Emergency Stop": {
      "main": [
        [
          {
            "node": "Safety Test Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Servo 1 Complete": {
      "main": [
        [
          {
            "node": "Final System Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Movement Test Complete": {
      "main": [
        [
          {
            "node": "Final System Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sensor Data": {
      "main": [
        [
          {
            "node": "Final System Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Test Complete": {
      "main": [
        [
          {
            "node": "Final System Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final System Home": {
      "main": [
        [
          {
            "node": "Final System Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final System Check": {
      "main": [
        [
          {
            "node": "Calibration Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "system-calibration",
      "name": "System Calibration"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
