n8n_data/workflows/robot_pick_place_api.json
{
  "name": "Pick and Place Automation (API-Based)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-initial-status",
      "name": "Get Initial Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pickup_x",
              "value": "={{ $json.body.pickup_x || 1.0 }}"
            },
            {
              "name": "pickup_y",
              "value": "={{ $json.body.pickup_y || 0.0 }}"
            },
            {
              "name": "pickup_z",
              "value": "={{ $json.body.pickup_z || 0.0 }}"
            },
            {
              "name": "place_x",
              "value": "={{ $json.body.place_x || -1.0 }}"
            },
            {
              "name": "place_y",
              "value": "={{ $json.body.place_y || 0.0 }}"
            },
            {
              "name": "place_z",
              "value": "={{ $json.body.place_z || 0.0 }}"
            },
            {
              "name": "object_type",
              "value": "={{ $json.body.object_type || 'box' }}"
            }
          ]
        }
      },
      "id": "extract-parameters",
      "name": "Extract Pick & Place Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/pick-place",
        "method": "POST",
        "options": {
          "bodyContentType": "json"
        },
        "sendBody": true,
        "bodyParametersJson": "{\n  \"pickup_location\": {\n    \"position\": {\n      \"x\": {{ $json.pickup_x || 1.0 }},\n      \"y\": {{ $json.pickup_y || 0.0 }},\n      \"z\": {{ $json.pickup_z || 0.0 }}\n    }\n  },\n  \"place_location\": {\n    \"position\": {\n      \"x\": {{ $json.place_x || -1.0 }},\n      \"y\": {{ $json.place_y || 0.0 }},\n      \"z\": {{ $json.place_z || 0.0 }}\n    }\n  },\n  \"object_type\": \"{{ $json.object_type || 'box' }}\"\n}"
      },
      "id": "execute-pick-place",
      "name": "Execute Pick & Place",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Initial Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Initial Status": {
      "main": [
        [
          {
            "node": "Extract Pick & Place Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Pick & Place Parameters": {
      "main": [
        [
          {
            "node": "Execute Pick & Place",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Pick & Place": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
