n8n_data/workflows/robot_mobile_pick_place.json
{
  "name": "Mobile Pick and Place Automation",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-initial-status",
      "name": "Get Initial Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pickup_x",
              "value": "={{ $json.body.pickup_x || 1.0 }}"
            },
            {
              "name": "pickup_y",
              "value": "={{ $json.body.pickup_y || 0.0 }}"
            },
            {
              "name": "place_x",
              "value": "={{ $json.body.place_x || -1.0 }}"
            },
            {
              "name": "place_y",
              "value": "={{ $json.body.place_y || 0.0 }}"
            },
            {
              "name": "movement_speed",
              "value": "={{ $json.body.speed || 0.3 }}"
            }
          ]
        }
      },
      "id": "extract-coordinates",
      "name": "Extract Coordinates & Speed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servos",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"home\"\n}"
      },
      "id": "home-servos-start",
      "name": "Home Servos (Start)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"forward\",\n  \"speed\": {{ $json.movement_speed }}\n}"
      },
      "id": "move-to-pickup",
      "name": "Move to Pickup Location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/stop",
        "method": "POST",
        "options": {}
      },
      "id": "stop-at-pickup",
      "name": "Stop at Pickup Location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 4,\n  \"angle\": 30\n}"
      },
      "id": "lower-gripper-base",
      "name": "Lower Gripper Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 1,\n  \"angle\": 45\n}"
      },
      "id": "open-gripper",
      "name": "Open Gripper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 1,\n  \"angle\": 135\n}"
      },
      "id": "close-gripper",
      "name": "Close Gripper (Pick Object)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 4,\n  \"angle\": 90\n}"
      },
      "id": "raise-with-object",
      "name": "Raise with Object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/move",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"direction\": \"backward\",\n  \"speed\": {{ $json.movement_speed }}\n}"
      },
      "id": "move-to-place",
      "name": "Move to Place Location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/stop",
        "method": "POST",
        "options": {}
      },
      "id": "stop-at-place",
      "name": "Stop at Place Location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 4,\n  \"angle\": 30\n}"
      },
      "id": "lower-at-place",
      "name": "Lower at Place Location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 1,\n  \"angle\": 45\n}"
      },
      "id": "open-gripper-release",
      "name": "Open Gripper (Release Object)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servo",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"servo\": 4,\n  \"angle\": 90\n}"
      },
      "id": "raise-after-release",
      "name": "Raise After Release",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 200]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/servos",
        "method": "POST",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "jsonBody": "{\n  \"action\": \"home\"\n}"
      },
      "id": "home-servos-final",
      "name": "Home Servos (Final)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "url": "http://10.0.3.1:5000/api/robot/status",
        "method": "GET",
        "options": {}
      },
      "id": "get-final-status",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "Mobile pick and place operation completed successfully - moved to pickup location, grasped object, transported to place location, and released object"
            }
          ]
        }
      },
      "id": "operation-complete",
      "name": "Operation Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [3760, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Initial Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Initial Status": {
      "main": [
        [
          {
            "node": "Extract Coordinates & Speed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Coordinates & Speed": {
      "main": [
        [
          {
            "node": "Home Servos (Start)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Home Servos (Start)": {
      "main": [
        [
          {
            "node": "Move to Pickup Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Pickup Location": {
      "main": [
        [
          {
            "node": "Stop at Pickup Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop at Pickup Location": {
      "main": [
        [
          {
            "node": "Lower Gripper Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lower Gripper Base": {
      "main": [
        [
          {
            "node": "Open Gripper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Gripper": {
      "main": [
        [
          {
            "node": "Close Gripper (Pick Object)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Gripper (Pick Object)": {
      "main": [
        [
          {
            "node": "Raise with Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raise with Object": {
      "main": [
        [
          {
            "node": "Move to Place Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Place Location": {
      "main": [
        [
          {
            "node": "Stop at Place Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop at Place Location": {
      "main": [
        [
          {
            "node": "Lower at Place Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lower at Place Location": {
      "main": [
        [
          {
            "node": "Open Gripper (Release Object)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Gripper (Release Object)": {
      "main": [
        [
          {
            "node": "Raise After Release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raise After Release": {
      "main": [
        [
          {
            "node": "Home Servos (Final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Home Servos (Final)": {
      "main": [
        [
          {
            "node": "Get Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Status": {
      "main": [
        [
          {
            "node": "Operation Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "combination-workflow",
      "name": "Combination Workflow"
    },
    {
      "createdAt": "2025-10-13T16:30:00.000Z",
      "updatedAt": "2025-10-13T16:30:00.000Z",
      "id": "mobile-pick-place",
      "name": "Mobile Pick and Place"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T16:30:00.000Z",
  "versionId": "1"
}
